.about-text {
  font-family: 'Rubik';
  line-height: 140%;
  font-weight: 300;
  font-size: 16px;
  color: #E2D9F8;
  margin-top: 7rem;
}

@media (max-width: 1000px) {
  .about-text {
    padding-top: 10px;
    margin-top: 6rem;
  }
}

@media (max-width: 500px) {
  .about-text {
    margin-top: 3rem;
  }
}