body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: auto
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-text {
  color: #000000;
  font-family: 'Poppins'; 
  font-size: 175px;
  stroke: #000000;
  margin: 50px;
}

.construction {
  color: #ff5100;
  font-family: 'Poppins'; 
  font-size: 80px;
  stroke: #000000;
  margin: 50px;
  text-align: center;
}

.regular-text {
  color: #000000;
  font-family: 'Poppins'; 
  font-size: 25px;
  stroke: #000000;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > div {
  flex: 1;
}
