.work-block {
  display: grid;
  grid-template-columns: 30% 62.5%;
  grid-column-gap: 50px;
  margin: 0 0;
}

.work-desc-block {
  text-align: left;
}

.work-location {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 17px;
  color: #E2D9F8;
}

.work-desc {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 16px;
  color: #E2D9F8;
  line-height: 140%;
}

.job-title {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 16px;
  color: #7B758A;
}

.work-date {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 17px;
  color: #7B758A;
}

@media (max-width: 500px){
  .work-block {
    width: 90%;
  }
}