.work-block {
  display: grid;
  grid-template-columns: 30% 62.5%;
  grid-column-gap: 50px;
}

.work-desc-block {
  text-align: left;
  margin: 0;
}

.work-location {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 17px;
  color: #E2D9F8;
  margin: 0;
}

.work-desc {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 15px;
  color: #E2D9F8;
  margin: 0;
  line-height: 140%;
}

.job-title {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 15px;
  color: #7B758A;
  margin: 0;
}

.work-date {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 17px;
  color: #7B758A;
  margin: 0;
}

@media (max-width: 500px){
  .work-desc, .job-title {
    font-size: 14px;
  }
  .work-block {
    margin-right: 2rem;
  }
  .work-date, .work-location {
    font-size: 15px;
  }
}