.headline-block {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #7B758A;
  margin: 0 8px;
  border: none;
}

.headline-text {
  font-family: 'Rubik';
  font-size: 15px;
  color: #7B758A;
}