.project-block {
  display: grid;
  grid-template-columns: 30% 62.5%;
  grid-column-gap: 50px;
}

.project-desc-block {
  text-align: left;
  margin: 0;
}

.link,
.project-name {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 17px;
  color: #E2D9F8;
  margin: 0;
}

.project-desc {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 15px;
  color: #E2D9F8;
  margin: 0;
  line-height: 140%;
}

.link > a {
  color: #E2D9F8;
  text-decoration: none;
}

.link > a:visited {
  color: #E2D9F8;
}

.link > a:hover {
  text-decoration: underline;
}

@media (max-width: 500px){
  .project-name {
    font-size: 15px;
  }
  .project-desc {
    font-size: 14px;
  }
  .work-block {
    margin-right: 2rem;
  }
}
